@page "/confirmation"
@inject NavigationManager NavigationManager
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<h3>Confirmation</h3>

<p>Merci, votre formulaire a été soumis avec succès !</p>

<a href="/details" class="btn btn-primary">Voir le détail des enregistrements</a>