@page "/"
@using Component 

<PageTitle>Home</PageTitle>

<h1>Bienvenue sur la page d'accueil</h1>
<!-- Titre principal de la page -->

<p>Ceci est le contenu de la page d'accueil.</p>
<!-- Paragraphe décrivant la page -->

<MonComposant Message="Bienvenue sur le composant de la page d'accueil !" PageBackgroundColor="white" />
<!-- Utilisation du composant MonComposant avec un message personnalisé et une couleur de fond -->