@page "/"
@using Component
@inject Composant.Services.AppState AppState

<PageTitle>Home</PageTitle>

<h1>Bienvenue sur la page d'accueil</h1>
<p><b>Ceci est le contenu de la page d'accueil.</b></p>

<div class="content-container">
    <MonComposant
        class="full-size"
        Message="Composant dynamique dans la page Home !"
        PageBackgroundColor="@backgroundColor"
        OnColorChange="HandleColorChange" />

    <ColorControls OnBackgroundColorChange="HandleBackgroundColorChange" />
</div>

<p><b>Nombre de changements de couleur détectés : @AppState.CounterValue</b></p>

@code {
    private string backgroundColor = "AntiqueWhite"; // Couleur par défaut

    private void HandleBackgroundColorChange(string newColor)
    {
        backgroundColor = newColor; // Met à jour la couleur de fond
    }

    private void HandleColorChange()
    {
        AppState.IncrementCounter(); // Incrémente le compteur global
    }
}